﻿<%@ Page Language="C#" MasterPageFile="~/EventEntry/EventEntry.master" AutoEventWireup="true"
    CodeFile="EventEntry.aspx.cs" Inherits="EventEntry_EventEntry" Title="Event Entry Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
<BR />
<BR />
<BR />
<BR />
</asp:Content>
