﻿  <head>
    <b:include data='blog' name='all-head-content'/>
    <title><data:blog.pageTitle/></title>
    <b:skin><![CDATA[/*
-----------------------------------------------
Blogger Template Style
Name: 	  Neev Soap
Designer: Subina Dhar / Meghadri Saha
URL:      www.bitscrape.com
Date:     01 Dec 2009
Updated by: Blogger Team
----------------------------------------------- */

/* Variable definitions
   ====================
   <Variable name="textColor" description="Text Color"
             type="color" default="#660000" value="#660000">
   <Variable name="blogTitleColor" description="Blog Title Color"
             type="color" default="#660000" value="#660000">
   <Variable name="blogDescriptionColor" description="Blog Description Color"
             type="color" default="#660000" value="#660000">
   <Variable name="postTitleColor" description="Post Title Color"
             type="color" default="#660000" value="#660000">
   <Variable name="dateHeaderColor" description="Date Header Color"
             type="color" default="#660000" value="#660000">
   <Variable name="sidebarHeaderColor" description="Sidebar Title Color"
             type="color" default="#660000" value="#660000">
   <Variable name="mainLinkColor" description="Link Color"
             type="color" default="#660000" value="#660000">
   <Variable name="mainVisitedLinkColor" description="Visited Link Color"
             type="color" default="#660000" value="#660000">
   <Variable name="sidebarLinkColor" description="Sidebar Link Color"
             type="color" default="#660000" value="#660000">
   <Variable name="sidebarVisitedLinkColor"
              description="Sidebar Visited Link Color"
             type="color" default="#660000" value="#660000">

   <Variable name="bodyFont" description="Text Font"
             type="font" default="normal normal 100% Helvetica,Arial,Verdana,'Trebuchet MS', Sans-serif" value="normal normal 100% Helvetica,Arial,Verdana,'Trebuchet MS', Sans-serif">
   <Variable name="headerFont" description="Sidebar Title Font"
             type="font"
             default="normal bold 100% Helvetica,Arial,Verdana,'Trebuchet MS', Sans-serif" value="normal bold 100% Helvetica,Arial,Verdana,'Trebuchet MS', Sans-serif">
   <Variable name="pageTitleFont" description="Blog Title Font"
             type="font"
             default="normal bold 200% Helvetica,Arial,Verdana,'Trebuchet MS', Sans-serif" value="normal bold 200% Helvetica,Arial,Verdana,'Trebuchet MS', Sans-serif">
   <Variable name="blogDescriptionFont" description="Blog Description Font"
             type="font"
             default="normal normal 80% Helvetica,Arial,Verdana,'Trebuchet MS', Sans-serif" value="normal normal 80% Helvetica,Arial,Verdana,'Trebuchet MS', Sans-serif">
   <Variable name="startSide" description="Start side in blog language"
             type="automatic" default="left" value="left">
   <Variable name="endSide" description="End side in blog language"
             type="automatic" default="right" value="right">
*/

/* global
----------------------------------------------- */
body {
  background:#cccccc;
margin:0;
color:#333333;
font:x-small Georgia Serif;
font-size/* */:/**/small;
font-size: /**/small;
text-align: center;
}
a:link {
color:#5588aa;
text-decoration:none;
}
a:visited {
color:#5588aa;
text-decoration:none;
}
a:hover {
color:#333333;
text-decoration:underline;
}
a img {
border-width:0;
}

blockquote {
  margin: 0;
  padding-top: 0;
  padding-$endSide: 10px;
  padding-bottom: 0;
  padding-$startSide: 10px;
  border-$startSide: 6px solid #97CD51;
  border-$endSide: 6px solid #97CD51;
  color: $postTitleColor;
}

code {
  color: $postTitleColor;
}

hr {
  display: none;
}


/* layout
----------------------------------------------- */
#outer-wrapper {
width: 660px;
margin:0 auto;
padding:10px;
text-align:left;
font: normal normal 100% Arial, sans-serif;
}
#header-wrapper {
width:660px;
margin:0 auto 10px;
border:1px solid #cccccc;
}
#header-inner {
background-position: center;
margin-left: auto;
margin-right: auto;
}
#header {
margin: 5px;
border: 1px solid #cccccc;
text-align: center;
color:#666666;
}
#header h1 {
margin:5px 5px 0;
padding:15px 20px .25em;
line-height:1.2em;
text-transform:uppercase;
letter-spacing:.2em;
font: normal normal 200% Arial, sans-serif;
}
#header a {
color:#666666;
text-decoration:none;
}
#header a:hover {
color:#666666;
}
#header .description {
margin:0 5px 5px;
padding:0 20px 15px;
max-width:700px;
text-transform:uppercase;
letter-spacing:.2em;
line-height: 1.4em;
font: normal normal 78% Arial, sans-serif;
color: #666666;
}
#header img {
margin-left: auto;
margin-right: auto;
}

#content-wrapper {
  position: relative;
  width: 760px;
  background: #D1EED8;
}

#main-wrapper {
width: 410px;
float: left;
word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
overflow: hidden;     /* fix for long non-text content breaking IE sidebar float */
}
#main {
  padding-top: 22px;
  padding-$endSide: 8px;
  padding-bottom: 0;
  padding-$startSide: 8px;
  background: url(http://www.blogblog.com/thisaway_blue/bg_content.gif) repeat-x $startSide top;
}

.post {
  margin-top: 0;
  margin-$endSide: 8px;
  margin-bottom: 14px;
  margin-$startSide: 21px;
  padding: 0;
  border-bottom: 3px solid #368860;
}

#comments {
  margin-top: 0;
  margin-$endSide: 16px;
  margin-bottom: 14px;
  margin-$startSide: 29px;
  padding: 10px;
  border: 1px solid #006837;
  background-color: #006837;
}

#sidebar-wrapper {
width: 220px;
float: right;
word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
overflow: hidden;      /* fix for long non-text content breaking IE sidebar float */
}
#sidebar {
  padding-top: 7px;
  padding-$endSide: 11px;
  padding-bottom: 0;
  padding-$startSide: 14px;
}

#sidebar .widget { 
  margin-bottom: 20px;
 }


#footer-wrapper {
  padding-top: 15px;
  background: #AA6925;
  clear: both;
}

#footer {
  background: #EFCE71;
  text-align: center;
  min-height: 2em;
}

/* headings
----------------------------------------------- */

#header h1 {
  margin: 0;
  padding-top: 24px;
  padding-$endSide: 0;
  padding-bottom: 0;
  padding-$startSide: 84px;
  background: #EFCE71;
}

h2.date-header {
  margin: 0;
  padding-top: 0;
  padding-$endSide: 0;
  padding-bottom: 0;
  padding-$startSide: 29px;
  text-transform: uppercase;
  color: $dateHeaderColor;
  font-size: 80%;
  font-weight: normal;
}

.date-header span {
  margin-top: 0;
  margin-$endSide: 0;
  margin-bottom: 0;
  margin-$startSide: 5px;
  padding-top: 0;
  padding-$endSide: 25px;
  padding-bottom: 0;
  padding-$startSide: 25px;
  background: #ECEAEB;
}

/* Sidebar Content
----------------------------------------------- */
.sidebar {
color: #666666;
line-height: 1.5em;
}
.sidebar ul {
list-style:none;
margin:0 0 0;
padding:0 0 0;
}
.sidebar li {
margin:0;
padding-top:0;
padding-right:0;
padding-bottom:.25em;
padding-left:15px;
text-indent:-15px;
line-height:1.5em;
}
.sidebar .widget, .main .widget {
border-bottom:1px dotted #cccccc;
margin:0 0 1.5em;
padding:0 0 1.5em;
}
.main .Blog {
border-bottom-width: 0;
}
.post h3 {
  margin-top: 13px;
  margin-$endSide: 0;
  margin-bottom: 13px;
  margin-$startSide: 0;
  padding: 0;
  color: $postTitleColor;
  font-size: 140%;
}

.post h3 a, .post h3 a:visited { 
  color: $postTitleColor;
 }

#comments h4 {
  margin-top: 0;
  font-size: 120%;
}


/* text
----------------------------------------------- */

#header h1 {
  color: $blogTitleColor;
  font: $pageTitleFont;
}

#header .description {
  margin: 0;
  padding-top: 7px;
  padding-$endSide: 16px;
  padding-bottom: 0;
  padding-$startSide: 84px;
  color: $blogDescriptionColor;
  font: $blogDescriptionFont;
}

.post-body p {
  line-height: 1.4em;
  /* Fix bug in IE5/Win with italics in posts */
  margin: 0;
  height: 1%;
  overflow: visible;
}

.post-footer {
  font-size: 80%;
  color: $dateHeaderColor;
}

.uncustomized-post-template .post-footer {
  text-align: $endSide;
}

.uncustomized-post-template .post-footer .post-author,
.uncustomized-post-template .post-footer .post-timestamp {
  display: block;
  float: $startSide;
  text-align: $startSide;
  margin-$endSide: 4px;
}

p.comment-author {
  font-size: 83%;
}

.deleted-comment {
  font-style:italic;
  color:gray;
}

.comment-body p {
  line-height: 1.4em;
}

.feed-links { 
  clear: both;
  line-height: 2.5em;
  margin-bottom: 0.5em;
  margin-$startSide: 29px;
}

#footer {
width:660px;
clear:both;
margin:0 auto;
padding-top:15px;
line-height: 1.6em;
text-transform:uppercase;
letter-spacing:.1em;
text-align: center;
}
/* lists
----------------------------------------------- */

.post ul {
  padding-$startSide: 32px;
  list-style-type: none;
  line-height: 1.4em;
}

.post li {
  padding-top: 0;
  padding-$endSide: 0;
  padding-bottom: 4px;
  padding-$startSide: 17px;
  background: #EFC482 $startSide 3px;
}
/* Comments
----------------------------------------------- */
#comments h4 {
margin:1em 0;
font-weight: bold;
line-height: 1.4em;
text-transform:uppercase;
letter-spacing:.2em;
color: #666666;
}
#comments-block {
margin:1em 0 1.5em;
line-height:1.6em;
}
#comments-block .comment-author {
margin:.5em 0;
}
#comments-block .comment-body {
margin:.25em 0 0;
}
#comments-block .comment-footer {
margin:-.25em 0 2em;
line-height: 1.4em;
text-transform:uppercase;
letter-spacing:.1em;
}
#comments-block .comment-body p {
margin:0 0 .75em;
}
.deleted-comment {
font-style:italic;
color:gray;
}
#blog-pager-newer-link {
float: left;
}
#blog-pager-older-link {
float: right;
}
#blog-pager {
text-align: center;
}
.feed-links {
clear: both;
line-height: 2.5em;
}
#blog-pager-newer-link {
  float: $startSide;
  margin-$startSide: 29px;
 }
 
#blog-pager-older-link {
  float: $endSide;
  margin-$endSide: 16px;
 }
 
#blog-pager {   
  text-align: center; 
 }

/* links
----------------------------------------------- */
a {
  color: $mainLinkColor;
  font-weight: bold;
}

a:hover {
  color: $mainVisitedLinkColor;
}

a.comment-link {
/* ie5.0/win doesn't apply padding to inline elements,
   so we hide these two declarations from it */
  background/* */:/**/url(http://www.blogblog.com/thisaway_blue/icon_comment.gif) no-repeat $startSide 45%;
  padding-$startSide: 14px;
}

html>body a.comment-link {
  /* respecified, for ie5/mac's benefit */
  background: url(http://www.blogblog.com/thisaway_blue/icon_comment.gif) no-repeat $startSide 45%;
  padding-$startSide: 14px;
}

.sidebar a {
  color: $sidebarLinkColor;
}

.sidebar a:hover {
  color: $sidebarVisitedLinkColor;
}


#header h1 a {
  color: $blogTitleColor;
  text-decoration: none;
}

#header h1 a:hover {
  color: #b4c7d9;
}

.post h3 a {
  text-decoration: none;
}

a img { 
 border-width: 0;
}

.clear {
  clear: both;
  line-height: 0;
  height: 0;
}

.profile-textblock { 
  clear: both;
  margin-bottom: 10px;
  margin-$startSide: 0;
}

.profile-img { 
  float: $startSide;
  margin-top: 0;
  margin-$endSide: 5px;
  margin-bottom: 5px;
  margin-$startSide: 0;
  padding: 3px;
  border: 1px solid #bdd4eb;
}

.profile-link { 
  padding-top: 0;
  padding-$endSide: 0;
  padding-bottom: 0;
  padding-$startSide: 17px;
  background: url(http://www.blogblog.com/thisaway_blue/icon_profile_$startSide.gif) no-repeat $startSide 0;
}

/** Page structure tweaks for layout editor wireframe */

body#layout #main,
body#layout #sidebar { 
  padding: 0;
}
]]></b:skin>
  </head>

  <body>
  <div id='outer-wrapper'><div id='wrap2'>

    <!-- skip links for text browsers -->
    <span id='skiplinks' style='display:none;'>
      <a href='#main'>skip to main </a> |
      <a href='#sidebar'>skip to sidebar</a>
    </span>

    <div id='header-wrapper'>
      <b:section class='header' id='header' maxwidgets='1' showaddelement='no'>
<b:widget id='Header1' locked='true' title='Neev Soap Blog (Header)' type='Header'/>
</b:section>
    </div>
 
    <div id='content-wrapper'>

      <div id='crosscol-wrapper' style='text-align:center'>
        <b:section class='crosscol' id='crosscol' showaddelement='no'/>
      </div>

      <div id='main-wrapper'>
        <b:section class='main' id='main' showaddelement='no'>
<b:widget id='Blog1' locked='true' title='Blog Posts' type='Blog'/>
</b:section>
      </div>

      <div id='sidebar-wrapper'>
        <b:section class='sidebar' id='sidebar' preferred='yes'>
<b:widget id='Followers1' locked='false' title='Followers' type='Followers'/>
<b:widget id='BlogArchive1' locked='false' title='Blog Archive' type='BlogArchive'/>
<b:widget id='Profile1' locked='false' title='About Me' type='Profile'/>
</b:section>
      </div>

      <!-- spacer for skins that want sidebar and main to be the same height-->
      <div class='clear'>&#160;</div>

    </div> <!-- end content-wrapper -->

    <div id='footer-wrapper'>
      <b:section class='footer' id='footer'/>
    </div>  

  </div></div> <!-- end outer-wrapper -->
</body>
</html>
                