﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Logout.aspx.cs" Inherits="Logout" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Logout</title>
     <script type="text/javascript">
    function redir(){
        window.location = "Default.aspx";
    
    }
    self.setTimeout(redir(),500);
    </script>
</head>
<body onload="history.go(-1)">
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
