﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <style type="text/css">

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.style1 {
	font-size: 18px;
	font-weight: bold;
	color: #006699;
}
.style4 {font-size: 14px; font-weight: bold; }
a:link {
	text-decoration: underline;
}
a {
	font-size: 11px;
	color: #666666;
}
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
<table width="80%" border="0" align="center" cellpadding="0" cellspacing="10">
  <tr>
    <td align="center" valign="bottom"><span class="style1">Industrial Software Systems...Test</span></td>
  </tr>
  <tr>
    <td align="center" valign="bottom"><span class="style4">Welcome to indsoftsys.com...test</span></td>
  </tr>
  <tr>
    <td align="center" valign="bottom" class="style4">We are under construction, Please bear with us...</td>
  </tr>
  <tr>
    <td align="center" valign="bottom">Designed &amp; Developed by <a href="http://www.bitscrape.com" target="_blank">Bitscrape Solutions Pvt. Ltd.</a></td>
  </tr>
</table>
    
    </div>
    </form>
</body>
</html>
