/*--Login Screen-----------------------------------------------------------------------------------------------------------------------*/
.LoginBody {
	background-color: #FFFFFF;
	padding: 0px;
	margin-top: 150px;
}
.LoginBgTable {
	background-image: url(../images/login.jpg);
	background-repeat: repeat;
	background-position: center center;
	padding: 0px;
	height: 335px;
	width: 482px;
	border:none;
}
.LoginTextboxTable {
	padding: 0px;
	height: 80px;
	width: 250px;
	border:none;
	margin-right: 40px;
	margin-top: 65px;
}
/*--Textbox Button Dropdown--*/
.LoginTextbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	background-color: #FFFFFF;
	border: 1px solid #f4ac21;
	height: 18px;
	width: 150px;
	text-align: left;
}
.LoginButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #cc6633;
	text-align: center;
	background-image: url(../images/ButtonBg.gif);
	background-repeat: repeat-x;
	background-position: left center;
	border: 1px solid #f4ac21;
	height: 20px;
}
/*--Text Style--*/
.LoginText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
/*--Inner Page---------------------------------------------------------------------------------------------------------------------------*/
.PageBody {
	background-color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}
/*--Page Header--*/
.Header {
	height: 90px;
	width: 100%;
	margin: 0;
	border: none;
	background-image: url(../images/HeaderImgLeft.jpg);
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.HeaderImg {
	height: 90px;
	width: 475px;
	margin: 0;
	border: none;
	background-image: url(../images/HeaderImg.jpg);
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: right bottom;
	float: right;
	text-align: right;
}
/* Header Tab Navigation */
.HeaderTabBg {
	height: 30px;
	width: 95%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/TabBg.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
	border:none;
	margin-top: 3px;
	padding-left: 5%;
}





a.HeaderTabButton:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 22px;
	text-decoration: none;
	text-align: center;
	background-color: #000000;
	background-image: url(../images/HeaderTabButtonBg.gif);
	background-repeat: repeat-x;
	background-position: left center;
	float: left;
	height: 24px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #2c2d2d;
	display: block;
}
a.HeaderTabButton:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 22px;
	text-decoration: none;
	text-align: center;
	background-color: #000000;
	background-image: url(../images/HeaderTabButtonBg.gif);
	background-repeat: repeat-x;
	background-position: left center;
	float: left;
	height: 24px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #2c2d2d;
	display: block;
}
a.HeaderTabButton:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFF00;
	line-height: 22px;
	text-decoration: none;
	text-align: center;
	background-color: #bf7429;
	background-image: url(../images/HeaderTabButtonHoverBg.gif);
	background-repeat: repeat-x;
	background-position: left center;
	float: left;
	height: 24px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #975009;
	display: block;
}
a.HeaderTabButton:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFF00;
	line-height: 22px;
	text-decoration: none;
	text-align: center;
	background-color: #bf7429;
	background-image: url(../images/HeaderTabButtonHoverBg.gif);
	background-repeat: repeat-x;
	background-position: left center;
	float: left;
	height: 24px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #975009;
	display: block;
}
/* Footer Navigation */
.Footer {
	height: 37px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-image: url(../images/FooterBg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	padding: 10px;
	border:none;
}
a.FooterLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
a.FooterLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
a.FooterLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
}
a.FooterLink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
}
/*--Page Layout--*/
.PageMargin {
	margin: 10px;
}
.PageHeading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #663300;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
.PageContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #663300;
	background-color: #faf6ed;
	border: 1px solid #ded2b6;
	padding: 10px;
	text-align: center;
}
.PageContentprint {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #663300;
	background-color: #ffffff;
	border: 1px solid #000000;
	text-align: center;
}
.PageContentDiv {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #faf6ed;
	text-align: center;
}
.PageContentDivprint {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
}
.Line {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #663300;
	background-image: url(../images/Line.gif);
	background-repeat: repeat-x;
	background-position: left center;
	padding: 10px;
}
/*--Grid--*/
.GridHeading {
	PADDING: 2px;
	BACKGROUND-IMAGE: url(../images/GridHeaderBg.gif); 
	BACKGROUND-POSITION: left top; 
	BACKGROUND-REPEAT: repeat-x; 
	BACKGROUND-COLOR: #f3e7d4; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	COLOR: #000000; 
	TEXT-ALIGN: left;
	HEIGHT: 30px; 
}
.GridData {
	PADDING: 2px; 
	BACKGROUND-IMAGE: url(../images/GridBg.gif); 
	BACKGROUND-POSITION: left top; 
	BACKGROUND-REPEAT: repeat-x; 
	BACKGROUND-COLOR: #FFFFFF; 
	FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	COLOR: #663300; 
	TEXT-ALIGN: left;
	HEIGHT: 30px; 
}
a.GridLink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	text-decoration: none;
}
a.GridLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	text-decoration: none;
}
a.GridLink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	text-decoration: underline;
}
a.GridLink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	text-decoration: underline;
}
/*--Textbox Button Dropdown--*/
.Textbox2ExtraSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 18px;
	width: 50px;
	text-align: left;
}
.Textbox2ExtraSmall_wo_border {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #663300;
	background-color: #FFFFFF;
	border: None;
	height: 18px;
	width: 50px;
	text-align: left;
}
.TextboxExtraSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 18px;
	width: 100px;
	text-align: left;
}
.TextboxSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 18px;
	width: 150px;
	text-align: left;
}
.TextboxMiddle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 18px;
	width: 200px;
	text-align: left;
}
.TextboxLarge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 18px;
	width: 250px;
	text-align: left;
}
.TextAreaSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 50px;
	width: 150px;
	text-align: left;
}
.TextAreaMiddle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 50px;
	width: 200px;
	text-align: left;
}
.TextAreaLarge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 50px;
	width: 250px;
	text-align: left;
}
.DropdownExtraSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 18px;
	width: 102px;
	text-align: left;
}
.DropdownSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 18px;
	width: 152px;
	text-align: left;
}
.DropdownMiddle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 18px;
	width: 202px;
	text-align: left;
}
.DropdownLarge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 18px;
	width: 252px;
	text-align: left;
}
.Button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #663300;
	text-align: center;
	background-image: url('../images/ButtonBg.gif');
	background-repeat: repeat-x;
	background-position: left center;
	border: 1px solid #ded2b6;
	width: 61px;
	}
.ButtonBig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #663300;
	text-align: center;
	background-image: url('../images/ButtonBg.gif');
	background-repeat: repeat-x;
	background-position: left center;
	border: 1px solid #ded2b6;
	height: 19px;
}
/*--Text Style--*/
.NormalText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
}
.NormalTextBlack {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.NormalTextBlackSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}
.SmallField {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #663300;
	background-color: #FFFFFF;
	border: 1px solid #ded2b6;
	height: 18px;
	width: 100px;
	text-align: left;
}
.RightDiv {
	float: right;
	width:100px;
	text-align: right;
}
.scroll-div {
	overflow:auto;
	height: 60px;
}
/*--Report Style--*/
.ReportGridHeading {
	BACKGROUND-IMAGE: url(../images/ReportGridHeaderBg.gif); 
	BACKGROUND-POSITION: left top; 
	BACKGROUND-REPEAT: repeat-x; 
	BACKGROUND-COLOR: #f3e7d4; 
	PADDING: 2px;
	border: 1px solid #6699CC;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #000000; 
	TEXT-ALIGN: center;
	HEIGHT: 30px; 
}
.ReportGridData {
	BACKGROUND-IMAGE: url('../images/ReportGridBg.gif');
	BACKGROUND-POSITION: left bottom;
	BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #FFFFFF;
	PADDING: 2px;
	border: 1px solid #6699CC;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 10px; 
	COLOR: #663300;
	TEXT-ALIGN: center;
	HEIGHT: 30px;
}
#lyr1 { /* show first div */
    visibility:visible;
}