﻿/*2-2009 horizontal tab menus */
.hMenu, .hMenu ul {padding:0; margin:0; list-style:none;}
.hMenu li {height:29px; float:left;}
.hMenu li.Small {
	background-image: url(../images/ButtonSmall.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	width:56px;
	height: 30px;
}
.hMenu li.Medium {
	background-image: url(../images/ButtonMedium.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	width:76px;
	height: 30px;
}
.hMenu li.Large {
	background-image: url(../images/ButtonLarge.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	width:96px;
	height: 30px;
}
.hMenu li.Xlarge {
	background-image: url(../images/ButtonXlarge.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: center;
	width:116px;
	height: 30px;
}
.hMenu li a {
	font-size:10px;
	display:block;
	height:21px;
	font-family:verdana, arial, sans-serif;
	color:#663300;
	text-decoration:none;
	line-height:21px;
	padding-top:5px;
}
.hMenu li.Small a {height:30px;}
.hMenu li.Medium a {height:30px;}
.hMenu li.Large a {height:30px;}
.hMenu li.Xlarge a {height:30px;}
.hMenu li.new a {height:30px;}
.hMenu li.sale a {height:30px;}
.hMenu li.sale a strong {height:30px; color: white;}
.hMenu li.Small a {height:30px;}

.hMenu table {border-collapse:collapse; padding:0; margin:0; border:0; width:0; height:0; margin-bottom:-1px;}
.hMenu li.headings1 {background:#ececec; text-indent:5px; font-size:10px; font-family:verdana, arial, sans-serif; line-height:19px;}
.hMenu ul {position:absolute;  z-index:13; left:-9999px; height:0; width:0;}

.hMenu li a:hover {white-space:nowrap; position:relative; z-index:13; color:#038794;}
.hMenu li:hover {position:relative; z-index:13;}
.hMenu li:hover > a {color:#000000;}
.hMenu li.sale:hover > a {color:red;}
.hMenu :hover ul {left:0px; height:auto; top:29px; background:#fff1c1; border-left:1px solid #663300; border-right:1px solid #663300;}

.hMenu :hover ul li {height:20px; width:100%;}
.hMenu :hover ul li.sale {height:80px; width:100%;}
.hMenu :hover ul.sale :hover {background:white;}
.hMenu :hover ul li.sale a {height:80px; line-height:80px; border-bottom:0px dotted #663300; text-align:left; text-indent:5px; padding:0;}
.hMenu :hover ul.sale :hover {background:white; }
.hMenu :hover ul :hover {background:#ececec;}
.hMenu :hover ul li a {height:19px; line-height:17px; border-bottom:1px dotted #663300; text-align:left; text-indent:5px; padding:0;}
.hMenu li.Small a:hover ul,
.hMenu li.Small:hover ul {width:190px;}
.hMenu li.Medium a:hover ul,
.hMenu li.Medium:hover ul {width:190px;}
.hMenu li.Large a:hover ul,
.hMenu li.Large:hover ul {width:190px;}
.hMenu li.Xlarge a:hover ul,
.hMenu li.Xlarge:hover ul {width:190px;}
.hMenu li.new a:hover ul,
.hMenu li.new:hover ul {width:190px;}
.hMenu li.sale:hover ul {width:190px;}
.hMenu :hover ul ul {left:-9999px;}

.hMenu :hover ul :hover ul {left:135px; top:-1px; width:auto; height:auto; border-top:1px solid #663300; width:130px;}
.hMenu li.Xlarge :hover ul :hover ul {left:128px;}
.hMenu li.Xlarge:hover ul :hover ul {left:128px;}

.hMenu :hover ul :hover > a {color:#663300; background:#f4daa7;}
.hMenu :hover ul :hover ul li a {color:#663300; background:#fff1c1;}
.hMenu :hover ul :hover ul li a:hover {color:#663300; background:#f4daa7;}

.hMenu iframe {position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.hMenu :hover iframe
{left:expression(this.nextSibling.offsetLeft);top:expression(this.nextSibling.offsetTop);width:expression(this.nextSibling.offsetWidth);height:expression(this.nextSibling.offsetHeight);}