﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ServiceBill.aspx.cs" Inherits="Reports_ServiceBill" MasterPageFile="~/Reports/Reports.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">

    
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
   <div class="PageMargin">
<div class="PageHeading">Service Bill Generation :</div>
<div class="Line"></div>
<!--Content Table Start-->
<div class="PageContent"><asp:ScriptManager ID="ScriptManager1" runat="server">
                </asp:ScriptManager>
   <table width="100%" border="0" cellspacing="5" cellpadding="0">
    <tr>
      <td align="left" valign="middle" >
          &nbsp;</td>
      <td align="right" valign="middle" >
          &nbsp;</td>
      <td align="right" valign="middle" >
          <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Names="Verdana" 
              Font-Size="X-Small" Text="Select Service Id:"></asp:Label>&nbsp;&nbsp;<span style="color:Red; font-weight:bold">*</span>
        </td>
      <td align="left" valign="middle" >
                <asp:DropDownList ID="dr_serviceId" runat="server" ValidationGroup="a" Width="300px" CssClass="TextboxSmall">
                </asp:DropDownList>&nbsp;&nbsp;
                <asp:Button ID="Button1" runat="server" Font-Bold="True" Font-Names="Verdana" 
                    onclick="Button1_Click" Text="Generate Service Bill" ValidationGroup="a" 
                   CssClass="Button" Width="150px"/>
            </td>
      <td align="left" valign="middle">
               &nbsp;&nbsp;</td>
      <td align="left" valign="middle" class="style4">
               &nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="middle" >&nbsp;</td>
      <td align="left" valign="middle"  >&nbsp;</td>
      <td align="left" valign="middle"  >&nbsp;</td>
      <td align="left" valign="middle" >
          <asp:Label ID="Label2" runat="server" ForeColor="#FF3300" Text="Select Service Id" 
                    Visible="False"></asp:Label>
               </td>
      <td align="left" valign="middle">
                        &nbsp;</td>
      <td align="left" valign="middle" >
                        &nbsp;</td>
    </tr>
    <tr>
      <td align="left" valign="middle" class="style1" >&nbsp;</td>
      <td align="left" valign="middle" class="style2" >&nbsp;</td>
      <td align="left" valign="middle" class="style2" >&nbsp;</td>
      <td align="left" valign="middle" >
          &nbsp;</td>
      <td align="left" valign="middle" >
                        &nbsp;</td>
      <td align="left" valign="middle" >
                        &nbsp;</td>
    </tr>
    </table>
</div>

</asp:Content>
