﻿<%@ Page Title="ItemList" Language="C#" MasterPageFile="~/DataEntry/DataEntry.master" AutoEventWireup="true" CodeFile="Itemlist.aspx.cs" Inherits="DataEntry_Itemlist" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="PageMargin">
        <div class="PageHeading">
            Item List</div>
        <div class="Line">
        </div>
        <!--Content Table Start-->
        <div class="PageContent" align="center">
         <br />
         <asp:Label ID="message" runat="server" />
               <asp:DataGrid ID="itemGrid" runat="server" AutoGenerateColumns="false" DataKeyField="itemId"
            CellPadding="3" CellSpacing="3" OnItemCommand="itemGrid_ItemCommand" HeaderStyle-CssClass="GridHeading"
            ItemStyle-CssClass="GridData" >
            <Columns>
                <asp:BoundColumn DataField="divisionName" HeaderText="Divistion" HeaderStyle-Font-Bold="true" />
                <asp:BoundColumn DataField="subdivisionName" HeaderText="Subdivision" HeaderStyle-Font-Bold="true" />
                 <asp:BoundColumn DataField="itemCode" HeaderText="Item Code" HeaderStyle-Font-Bold="true" />
                <asp:ButtonColumn ButtonType="LinkButton" CommandName="Edit" Text="Edit" ItemStyle-CssClass="GridLink" />
                <asp:ButtonColumn ButtonType="LinkButton" CommandName="Delete" Text="Delete" ItemStyle-CssClass="GridLink" />
            </Columns>
        </asp:DataGrid>
            <br />
        </div>
        <!--Content Table End-->
        <div class="Line">
        </div>
        <!--Grid Table Start-->
     
        <!--Grid Table End-->
        <div class="Line">
        </div>
        <!--Page Body End-->
    </div>

</asp:Content>

